li {
  list-style: none;
}

.removeBtn {
  background-color: transparent;
  border: none;
  color: rgb(226, 98, 7);
  font-size: 15px;
  cursor: pointer;
}

.favoriteItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
