li {
  list-style: none;
}

.removeBtn {
  background-color: transparent;
  border: none;
  color: rgb(226, 98, 7);
  font-size: 15px;
  cursor: pointer;
}

.favoriteItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.resultContainer {
  display: flex;
  flex-direction: row;
}

.leftColumn {
  flex: 2;
  padding-right: 20px;
}

.rightColumn {
  flex: 3;
  padding-left: 20px;
}
