.appContainer {
  display: flex;
}

.favoritesContainer {
  flex: 2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: auto;
  margin: 10px;
  min-width: 0;
  width: 30%;
}

.searchContainer {
  flex: 3;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: auto;
  margin: 10px;
  min-width: 0;
  width: 70%;
  height: 100vh;
}

.resultContainer {
  display: flex;
  flex-direction: row;
}

.leftColumn {
  flex: 1;
  padding-right: 20px;
}

.rightColumn {
  flex: 1;
  padding-left: 20px;
}
